@font-face {
    font-family: 'pkyellow';
    src: url('pokemon_gb-webfont.eot');
    src: url('pokemon_gb-webfont.eot?#iefix') format('embedded-opentype'),
         url('pokemon_gb-webfont.woff2') format('woff2'),
         url('pokemon_gb-webfont.woff') format('woff'),
         url('pokemon_gb-webfont.ttf') format('truetype'),
         url('pokemon_gb-webfont.svg#pokemon_gbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pkemerald';
    src: url('pokemon_emerald_pro-webfont.eot');
    src: url('pokemon_emerald_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('pokemon_emerald_pro-webfont.woff2') format('woff2'),
         url('pokemon_emerald_pro-webfont.woff') format('woff'),
         url('pokemon_emerald_pro-webfont.ttf') format('truetype'),
         url('pokemon_emerald_pro-webfont.svg#pokemon_emerald_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pkplatinum';
    src: url('pokemon_dppt-webfont.eot');
    src: url('pokemon_dppt-webfont.eot?#iefix') format('embedded-opentype'),
         url('pokemon_dppt-webfont.woff2') format('woff2'),
         url('pokemon_dppt-webfont.woff') format('woff'),
         url('pokemon_dppt-webfont.ttf') format('truetype'),
         url('pokemon_dppt-webfont.svg#pokemon_dpptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pkbw2';
    src: url('bw-webfont.eot');
    src: url('bw-webfont.eot?#iefix') format('embedded-opentype'),
         url('bw-webfont.woff2') format('woff2'),
         url('bw-webfont.woff') format('woff'),
         url('bw-webfont.ttf') format('truetype'),
         url('bw-webfont.svg#pokemon_bwregular') format('svg');
    font-weight: normal;
    font-style: normal;

}